* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: azure;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.title {
  text-transform: uppercase;
  text-align: center;
  margin: 12px;
}
article {
  padding-left: 0px;
}
.product {
  border: 5px solid black;
  width: 850px;
  margin: 40px auto;
  position: relative;
}

.price {
  color: rgba(18, 235, 101, 0.925);
  font-size: 24px;
  font-weight: bold;
  float: left;
}
.shipping {
  text-transform: uppercase;
  color: gray;
  font-size: 12px;
  font-weight: bold;
  float: right;
  margin-top: 8px;
  margin-bottom: 22px;
}
.sale {
  background-color: rgb(238, 70, 70);
  color: white;
  text-transform: uppercase;
  letter-spacing: 3px;
  display: inline-block;
  position: absolute;
  top: -22px;
  left: -25px;
  padding: 6px;
  margin: 4px;
}
.more-info {
  text-decoration: underline;
  color: black;
}
.more-info:link,
.more-info:visited {
  color: black;
}
.more-info:hover,
.more-info:active {
  text-decoration: none;
}
.color {
  background-color: black;
  display: inline-block;
  width: 22px;
  height: 22px;
  margin-right: 10px;
  margin-top: 16px;
}
.color-blue {
  background-color: rgb(56, 56, 241);
}
.color-red {
  background-color: rgb(202, 36, 36);
}
.color-yellow {
  background-color: rgb(228, 215, 31);
}
.color-green {
  background-color: rgb(57, 226, 41);
}
.color-brown {
  background-color: rgb(124, 64, 7);
}
.details-title {
  /*margin-top: 22px;*/
  text-transform: uppercase;
  margin-bottom: 20px;
}
.details-list {
  list-style: square;
  padding-left: 22px;
  margin-bottom: 18px;
}
.add-cart {
  background-color: black;
  color: white;
  font-size: 22px;
  text-transform: uppercase;
  border: none;
  width: 100%;
  padding: 22px;
}
.add-cart:hover {
  cursor: pointer;
  background-color: white;
  border-top: 4px solid black;
  color: black;
}

/* Using FLoats for our required sections*/
.image-part {
  float: left;
}
.price-part {
  float: left;
  width: 240px;
  margin-left: 30px;
  margin-top: 22px;
  margin-bottom: 22px;
}
.details-part {
  float: right;
  width: 240px;
  margin-right: 30px;
  margin-top: 22px;
  margin-bottom: 22px;
}
.product-description {
  clear: both;
  margin-top: 22px;
  margin-bottom: 10px;
}
